a:link {
  color: rgb(118, 15, 158)
}
a:visited {
  color: rgb(38, 0, 255)
}
a:hover {
  color: rgba(255, 0, 119, 0.582);
  text-decoration: underline;
}
a.current {
  color: rgba(79, 29, 194, 0.986)
}
a:active {
  color: rgb(111, 95, 255)
}
html {
background-color: rgba(167, 166, 166, 0.747)
}
img {
  max-height: 200px
  
}
